# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
env/
venv/
ENV/
.venv/

# Distribution / packaging
*.egg-info/
dist/
build/

# Logs
/logs
*.log

# Environment variables
.env

# IDE / editor files
.vscode/
.idea/

# System files
.DS_Store
Thumbs.db

# Data files
*.sqlite3
data/
uploads/
